* {
    font-family: 'Courgette', cursive;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Poppins', sans-serif;
    background-color: #f8eff1;
}

.header {
    padding: 10px;
    background-color: #af3039;
    color: #f8eff1;
    border-radius: 2px 9px 9px 9px;
}

.header>h1 {
    background-color: #af3039;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    margin-top: 20px;
}

.flex-container .item {
    background-color: #f1d2d4;
    color: #af3039;
    margin: 8px;
    padding: 10px;
    text-align: center;
    border: 2px solid #af3039;
    border-radius: 2px 9px 9px 9px;
}

a:link {
    text-decoration: none;
}

.flex-container .item:hover {
    background-color: #af3039;
    color: #f1d2d4;
    margin: 8px;
    padding: 10px;
    text-align: center;
    border: 2px solid #af3039;
}

.contact-container {
    padding: 4px;
    flex-wrap: wrap;
    background-color: #af3039;
    color: #f8eff1;
    border-radius: 2px 9px 9px 9px;
}

h2,
h3,
p,
.contact-item {
    background-color: #af3039;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact-item {
    padding: 4px;
    width: 100%;
    align-content: space-around;
    text-align: center;
}

.icon {
    width: 30px;
    border-radius: 12px;
    background-color: #af3039;
}

.icon:hover {
    width: 40px;
    border-radius: 15px;
}

.content-container2 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.content-item {
    margin-top: 2px;
    padding: 6px;
    color: #af3039;
    background-color: #f1d2d4;
    border-radius: 12px;
}

.pic {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 50%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}